/* 카테고리 선택창 */
.courseList_srch_status {
  display: flex;
  gap: 10px;
  align-items: center;
  border: 1px solid #d0d7e2;
  border-radius: 5px;
  padding: 8px 25px;
  background-color: #fefefe;
  font-size: 15px;
  margin-right: -300px;
}

.courseList_srch_status label {
  color: #333;
  cursor: pointer;
  /* 글자 가운데로 정렬 */
  padding-right: 12px;
}

.courseList_srch_status input {
  cursor: pointer;
  margin-left: 10px;
  margin-right: -2px;
  accent-color: #4a7dfc;
}

/* 테이블 이미지(강의 썸네일) */
.admin_table_cont td img {
  width: 80px;
  height: 50px;
  object-fit: cover;
  border-radius: 4px;
}

/* 테이블 바디 */
.admin_table_cont tbody td {
  padding: 7px;
}

/* js에 있음 */
/* 강의 제목, 카테고리 묶음 */
.course_title_box {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3px;
}

/* 카테고리 표시 */
.course_category {
  font-size: 13px;
  color: #2b6cb0;
  font-weight: 600;
  margin: 0;
}

/* 제목 링크 스타일 */
.course_link {
  font-size: 15px;
  color: #333;
  text-decoration: none;
}

.course_link:hover {
  text-decoration: underline;
  color: #2b6cb0;
}