/* ===== 썸네일 미리보기 ===== */
.preview_box {
    margin-top: 10px;
}

.preview_box img {
    width: 200px;
    height: 120px;
    border-radius: 6px;
    border: 1px solid #ccc;
    object-fit: cover;
}

/* ===== 영상 업로드 영역 ===== */
.upload_box {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.upload_input {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    text-align: left;
    margin-bottom: 25px;
}

.upload_input label {
    min-width: 60px;
    font-weight: 500;
    text-align: center;
}

.upload_input_box ,.upload_input_header {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-bottom: 5px;
}

/* 영상 자막 */
.subtitle_label {
    display: block;
    font-size: 0.9rem;
    color: #3b4a64;
    margin-top: 10px;
    margin-bottom: 5px;
    font-weight: 600;
}

.subtitle_input {
    width: 93%;
    min-height: 70px;
    border: 1px solid #ccc;
    border-radius: 6px;
    padding: 8px 10px;
    font-size: 0.95rem;
    resize: vertical;
    align-self: flex-end;
}

.upload_input textarea {
    min-height: 120px;
    overflow-y: auto;
    padding: 10px 12px;
    font-size: 15px;
    color: #333;
    border: 1px solid #ccc;
    border-radius: 6px;
    line-height: 1.5;
    background-color: #fafafa;
    transition: border-color 0.2s, box-shadow 0.2s;
}

.upload_input textarea:focus {
    border-color: #acacac;
    box-shadow: 0 0 4px rgba(59, 110, 145, 0.3);
    outline: none;
}