/* 관리자 푸터 부분 */
#admin_footer {
    bottom: 0;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    color: #333;
    background-color: #f9f9f9;
    z-index: 800;
    border-top: 1px solid #dcdcdc;
}