<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>시험</title>
    <link rel="stylesheet" href="/exam.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
</head>

<body>

    <main id="container">
        <!-- ⏱ 고정 타이머 -->
        <div class="fixed_timer">
            <div class="timer_box">
                <i class="fa-regular fa-clock"></i>
                <div class="remaining_time">
                    <p class="timer_label">
                        제한 시간 : <span class="timer_value total_time">30분</span>
                    </p>
                    <p class="timer_label">
                        남은 시간 : <span id="examTimer" class="timer_value remaining">29분 59초</span>
                    </p>
                </div>
            </div>
        </div>

        <div class="exam_container">
            <a href="/myPage/myStudy" class="close-btn">&times;</a>

            <!-- 상단 정보 영역 -->
            <div class="exam_top">
                <div class="exam_title_box">
                    <div class="exam_title_row">
                        <h2 class="exam_title">응급처치 교육 시험</h2>
                    </div>
                    <div class="exam_sub_info">
                        <p>
                            응시일: <span id="exam_date" class="exam_date"></span>
                            &nbsp;&nbsp; 응시자: <span id="exam_user_name" class="exam_user"></span>
                        </p>
                    </div>
                </div>
                <div class="exam_info_box">
                    <span class="exam_total">객관식 4지선다 5문항</span>
                </div>
            </div>

            <!-- 문제 영역 -->
            <div class="exam_main">
                <!-- JS가 문제를 여기 넣음 -->
            </div>

            <!-- 제출 버튼 -->
            <div class="exam_submit_box">
                <button type="button" class="submit_btn">제출</button>
            </div>

        </div>
    </main>

</body>

<script src="/adminjs/exam.js"></script>

</html>
